.help {
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid $white; 
}

.help-container {
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.help__title {
    margin: 0;
    font-family: inherit;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
}

.help__text {
    font-family: inherit;
    font-size: 16px;
    line-height: 30px;
    color: $gray;

}

.help__button {
    width: fit-content;
    padding: 11px 20px 11px 42px;
}

@media (min-width: $desktop-width) {
    .help {
        margin-top: 8rem;
        margin-bottom: 10rem;
        border: none;
        padding: 0;
    }

    .help__title {
        width: 57%;
        font-size: 40px;
    }
}